<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div id="demo">
        <input type="text" v-model=firstname>
        <input type="text" v-model=lastname>
        <input type="text" v-model=fullname>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script>
        var vm = new Vue({
            el: '#demo',
            data() {
                return {
                    firstname: '',
                    lastname: '',
                    fullname: ''
                }
            },
            watch: {
                firstname: function(newVal, oldVal) {
                    console.log(newVal, oldVal)
                }
            }
        })
    </script>
</body>

</html>